body {
    background-color: rgb(255, 255, 165);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px #888888;
    padding: 20px;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    color: white;
    text-decoration: none;
    padding: 12px 24px 12px 24px;
    margin-top: 20px;
    border-radius: 12px; 
    background-color: #1b1b1b;
    transition: background-color 0.2s ease-out;
}

.link-button:hover {
    background-color: #404040;
}
.sombreado{
    text-shadow: 2px 2px 4px #000;
}